body {
    background: aqua;
}

.homePage {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    opacity: 0;
}

.trivia {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: baseline; */
    opacity: 0;
}
.right {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    opacity: 0;
}
.wrong {

    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    opacity: 0;
}
.scoreBoard {
    border: 2px solid black;
    height: 400px;
    width: 200px;
    text-align: center;
    opacity: 0;
}
.winScreen {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    opacity: 0;
}
.roundOver {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    opacity: 0;
}