body {
    background-image: url('/images/woodBack.jpg');
    background-size: 1200px;
    display: flex;
    align-content: center;
    color: rgb(32, 0, 146);
}

.hP {
    border: 2px solid black;
    height: 200px;
    width: 800px;
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50%;
    margin-left: 50%;
    padding: 15%;
    position: relative;
    opacity: 0;
    background: white;
    border-radius: 12%;
    
}


.tRCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.rMCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.wMCont {

    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.sCCont {
    border: 2px solid black;
    height: 400px;
    width: 200px;
    text-align: center;
    opacity: 0;
    padding: 15%;
    background: white;
}
.wSCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.rOCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.questionPic {
    height: 150px;
    width: 150px;
}
.rightPic {
    height: 200px;
    width: 200px;
}