body {
    background-image: url('/images/woodBack.jpg');
    background-size: 1200px;
    display: flex;
    align-content: center;
    color: rgb(32, 0, 146);
}


.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

}
.content {
    align-self: center;
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  
  












/* 

.hP {
    border: 2px solid black;
    height: 100%;
     width: 800px; 
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
     padding: 15%;
    position: relative;
    opacity: 0;
    background: white;
    border-radius: 12%;
 }

.tRCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.rMCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.wMCont {

    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.sCCont {
    border: 2px solid black;
    height: 400px;
    width: 200px;
    text-align: center;
    opacity: 0;
    padding: 15%;
    background: white;
}
.wSCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
}
.rOCont {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 15%;
    opacity: 0;
    background: white;
} */
.questionPic {
    height: 150px;
    width: 150px;
}
.rightPic {
    height: 200px;
    width: 200px;
}